.main-title {
	text-align: center;
	margin-top: 10px;
	background: #00FF00;
	background: linear-gradient(to left, #00ff66 0%, #093fff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	line-height: inherit;
}

.content-page {
	margin: 0 auto;
	max-width: 400px;
}

.exchange-page {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.update-date-text {
	color: white;
	text-align: center;
}

.exchange-img {
	width: 35px;
	height: 40px;
	margin-top: 80px;
}
