.flag {
	border-radius: 50%;
	margin-right: 25px;
}

.country-name-item,
.currency-course-list {
	font-weight: bold;
	color: white;
	font-size: 18px;
	margin-bottom: 20px;
}

.currency-course-list {
	font-weight: 500;
}
