.fieldset-left {
	margin: 30px 10px 0 15px;
}

.fieldset-right {
	margin: 30px 15px 0 10px;
}

:global(.legend-item) {
	font-size: 14px;
	color: white;
}

:global(.ant-input-number.input-item) {
	width: 145px;
	height: 40px;
	border-radius: 4px !important;
}

:global(.ant-input-number-input) {
	height: 38px!important;
}
